.page-technologies {
  display: flex;
  flex-direction: row;
  width: 39rem;
}

.technologies-info {
  display: flex;
  flex-direction: column;
  padding-top: 7rem;
}

.page-technologies h1 {
  font-weight: 600;
  font-size: 96px;
  line-height: 117px;
  letter-spacing: -0.05em;
  color: var(--primary);
  margin-bottom: 0;
}

.page-technologies h4 {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: -0.05em;

  color: var(--grey);
}
