.page-footer {
  padding: 2rem 10rem;

  font-size: 16px;
  font-weight: 300;
}

.page-footer ul {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  list-style-type: none;
  margin: 0;
  padding: 0;
}

.page-footer a {
  text-decoration: none;
}

.page-footer .footer-copyright {
  margin-top: 2rem;
}
