@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

:root {
  --primary-color: #6224e7;
  --secondary-color: #fbf9ff;
  --black-color: #000013;
  --grey-color: #8d8d8d;
  --white-color: #ffffff;
}

body {
  margin: 0;
  font-family: 'Montserrat', serif;
  background: var(--secondary-color);
}

.app {
  max-width: 1440px;
  margin: auto;
}
